header.c-header
    .c-header__inner
      .c-header__navTop
        .c-header__logo
          a.c-header__img(href=path+"/")
            img.m-onlypc(src=path+"assets/images/logo.png", alt="logo alt")
            img.m-onlysp(src=path+"assets/images/logosp.png", alt="logo alt")
        
        ul.c-header__icon
          li
            i.gg-search

          li
            i.gg-mail
          li.m-auth
            i.gg-mail  
            .m-auth__box.d-none 
              a.m-auth__user 
                .m-auth__img 
                  img(src="https://picsum.photos/150/150", alt="")
                .m-auth__content  
                  p.displayname Nguyễn Thanh Tùng
                  p.username @tungnt
              a.m-auth__list(href="")  
                svg#Layer_1(_ngcontent-serverapp-c42='' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 500 500' height='18' width='18')
                  path.cls-1(_ngcontent-serverapp-c42='' d='M109.38,62.5A47.11,47.11,0,0,0,62.5,109.38V390.63a47.11,47.11,0,0,0,46.88,46.87H307.29a15.62,15.62,0,0,0,11-4.58l.16-.16L432.92,318.34a15.62,15.62,0,0,0,4.58-11V109.38A47.11,47.11,0,0,0,390.63,62.5Zm0,31.25H390.63a15.39,15.39,0,0,1,15.62,15.63V291.67H338.54a47.11,47.11,0,0,0-46.87,46.87v67.71H109.38a15.39,15.39,0,0,1-15.63-15.62V109.38A15.4,15.4,0,0,1,109.38,93.75Zm52.08,52.06a15.63,15.63,0,1,0-.44,31.25H338.54a15.63,15.63,0,1,0,.44-31.25H161.46Zm0,72.92A15.63,15.63,0,1,0,161,250H296.88a15.63,15.63,0,0,0,.44-31.25H161.46ZM338.54,322.92h45.62l-61.24,61.24V338.54A15.38,15.38,0,0,1,338.54,322.92Z')
                span Bài viết của bạn 
              a.m-auth__list(href="")  
                svg#Layer_1(_ngcontent-serverapp-c42='' width='16' height='16' viewbox='0 0 16 16' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg')
                  path.cls-1(_ngcontent-serverapp-c42='' d='M14.4399 8.8501H5.88989C5.33989 8.8501 4.88989 8.4001 4.88989 7.8501C4.88989 7.3001 5.33989 6.8501 5.88989 6.8501H14.4399C14.9899 6.8501 15.4399 7.3001 15.4399 7.8501C15.4399 8.4001 14.9999 8.8501 14.4399 8.8501Z')
                  path.cls-1(_ngcontent-serverapp-c42='' d='M10.5299 13.1C10.2799 13.1 10.0299 13.01 9.83992 12.82C9.43992 12.44 9.42992 11.8 9.80992 11.4L13.1399 7.91996L9.82992 4.60996C9.43992 4.21996 9.43992 3.57996 9.82992 3.18996C10.2199 2.79996 10.8599 2.79996 11.2499 3.18996L15.0699 7.00996C15.5599 7.48996 15.5699 8.29996 15.0899 8.79996L11.2699 12.79C11.0599 12.99 10.7999 13.1 10.5299 13.1ZM13.6399 8.41996C13.6399 8.41996 13.6399 8.42996 13.6399 8.41996V8.41996Z')
                  path.cls-1(_ngcontent-serverapp-c42='' d='M5.79 16H1C0.45 16 0 15.55 0 15V1C0 0.45 0.45 0 1 0H5.79C6.34 0 6.79 0.45 6.79 1C6.79 1.55 6.34 2 5.79 2H2V13.99H5.78C6.33 13.99 6.78 14.44 6.78 14.99C6.79 15.55 6.34 16 5.79 16Z')

                span Đăng xuất
          li
            i.gg-sun
      .c-header__navBottom          
        .c-header__btn#navicon 
          span
            i.gg-album
          strong  CÁC CHỦ ĐỀ 
          span 
            i.gg-chevron-down
        .c-header__btn#navicon2.m-onlysp
          span
            i.gg-loadbar-doc
          strong CẬP NHẬT
          span 
            i.gg-chevron-down    
        
        ul.c-header__menu#siteNav2
          li 
            a(href=path+ "/category.html") Khoa học - Công nghệ
          li 
            a(href=path+ "/category.html") Truyền cảm hứng
          li 
            a(href=path+ "/category.html") Thể thao
          li 
            a(href=path+ "/category.html") Quan điểm - Tranh luận
          li 
            a(href=path+ "/category.html") Thời tiết
          li 
            a(href=path+ "/category.html") Công nghệ
      ul.c-header__togge#siteNav 
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ    
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ
        li
          a(href="")  
            img(src="https://picsum.photos/30/30", alt="")
            span Khoa học - Công nghệ       