header.c-header
    .c-header__inner
      .c-header__navTop
        .c-header__logo
          a.c-header__img(href=path+"/")
            img.m-onlypc(src=path+"assets/images/logo.png", alt="logo alt")
            img.m-onlysp(src=path+"assets/images/logosp.png", alt="logo alt")
        
        ul.c-header__icon
          li
            a(href="#")
              i.gg-search

          li
            a(href=path+"/")
              i.gg-mail
          li
            a(href=path+"/")
              i.gg-sun
      .c-header__navBottom          
        .c-header__menu#navicon 
          span
            i.gg-album
          strong  CÁC CHỦ ĐỀ 
          span 
            i.gg-chevron-down
        .c-header__menu#navicon2.m-onlysp
          span
            i.gg-loadbar-doc
          strong CẬP NHẬT
          span 
            i.gg-chevron-down    
        
        ul.c-header__menu--scoll#siteNav2
          li 
            a(href=path+ "/category.html") Khoa học - Công nghệ
          li 
            a(href=path+ "/category.html") Truyền cảm hứng
          li 
            a(href=path+ "/category.html") Thể thao
          li 
            a(href=path+ "/category.html") Quan điểm - Tranh luận
          li 
            a(href=path+ "/category.html") Thời tiết
          li 
            a(href=path+ "/category.html") Công nghệ
      .c-header__togge#siteNav 
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ    
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ
        .c-header__togge--item 
          a(href="")  
            img(src="https://spiderum.com/assets/images/categories/laptop-min.jpg", alt="")
            span Khoa học - Công nghệ       